.container{
    background-color: var(--secondary);
    text-align: center;
    color: var(--primary);
    padding: .5rem;
}

.footer__title{
    margin: 0;
}

.footer__img{
    display: none;
}

.fab{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    line-height: 2.5rem;
    font-size: 1rem;
    background-color: #000;
    color: var(--primary);
    margin: 1rem 1rem 0 1rem;
}


@media(width>=768px){
    .footer__img{
        display: block;
        height: 22rem;
        margin: 0 auto;
    }
    .container{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .footer,
    .footer__img{
        width: 50%;
    }
    .footer__picture{
        width: 100%;
        height: 22rem;
    }
    .footer__title{
        font-size: 3rem;
        text-decoration: underline;
    }


}